node_modules/
package-lock.json
package.json
postcss.config.js
tailwind.config.js
build/
.vscode
dist/
webpack.config.js
zip.py

# for public repo
detected.png
loader-icon.png
logo.png
stripe-v3.js
styles.css