@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    width: 500px;
    height: 200px;
    -ms-overflow-style: none;
    /* for Internet Explorer and Edge */
    scrollbar-width: none;
    /* for Firefox */
    height: auto;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and newer versions of Opera */
}

aw h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
}

/* h4 {
    color: #007BFF;
    margin-top: 20px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: -5px;
} */

p {
    margin: 0 0 10px 0;
}

/* Container for summaries */
/* #content-container {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
} */

/* #summaries-container {
    padding: 10px;
} */

/* Individual summary sections */
/* #summaries-container>div {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

#summaries-container>div:last-child {
    border-bottom: none;
} */

/* Notification styles (if any) */
.notification {
    padding: 10px;
    background-color: #FFEB3B;
    /* Yellow color for notifications */
    color: #333;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* If you have any buttons */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


.remove-icon {
    /* position: absolute; */
    top: 5px;
    right: 5px;
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

/* .greyed-out {
    pointer-events: none;
    opacity: 0.5;
} */

.ai-response-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.ai-response-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-popup-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    line-height: 14px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px 7px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 120%;
    border: 1px solid black;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.btn-primary {
    background-color: #2563EB;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-primary:hover {
    background-color: #1D4ED8;
  }
  .btn-secondary {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-secondary:hover {
    background-color: #D1D5DB;
  }

  .DDLogoAccount {
    line-height: 1.4rem;
  }

  .text-green-500 {
    color: rgb(34 197 94);
  }

  .text-red-500 {
    color: rgb(244 63 94);
  }

  .animated-bg-container {
    position: relative; /* Ensure this is set to relative */
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size: 600%;
    animation: anime 16s linear infinite;
  }
  
  /* Create a dark overlay using the ::before pseudo-element */
  .animated-bg-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1); /* Adjust the alpha value to control the darkness of the overlay */
    pointer-events: none; /* Ensure clicks go through the overlay */
    border-radius: 0.5rem;
  }
  
  /* Your other styles */
  .animated-bg-container-blurred {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    filter: blur(30px);
    opacity: 0.8;
  }
  
  @keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* List items with bullet points */
#summaries-container ul {
  list-style-type: decimal; /* Default bullet points */
  padding-left: 1.5em; /* Add some left padding for alignment */
  margin-bottom: 2rem;
}

#summaries-container li {
  margin-bottom: 1rem;
}

#summaries-container ul > li::marker {
  font-weight: bold;
}

/* FAQ Questions */
#summaries-container p[id^="question"] {
  font-weight: bold; 
  margin-top: 0rem; /* Add some margin for separation */
}

/* FAQ Answers */
#summaries-container p[id^="answer"] {
  margin-top: 0.5rem;
  margin-bottom: 2rem; /* Add some margin for separation */
}

/* This will position the container relative to the overlay */
.aiQuestionFormContainer {
  position: relative;
}

/* The overlay */
.greyed-out::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  z-index: 10;
  cursor: not-allowed;
}

#myForm {
  position: relative;
}

#small-modal::-webkit-scrollbar {
  display: none;
}

#small-modal {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

li.good, li.bad, li.neutral {
  display: flex;
  list-style: none;
}

li.good {
  color: #33a733;
  font-weight: 600;
  font-family: arial;
}

li.neutral {
  color: #6b6b6b;
  font-weight: 600;
  font-family: arial;
}

li.bad {
  color: #db3838;
  font-weight: 600;
  font-family: arial;
}

/* all h4 where the class begins with 'implications-' */

h4[id^='implications-'] {
  display: none;
}

/* all ul directly after a h4 where the class begins with 'implications-' */

h4[id^='implications-'] + ul {
  padding-left: 0px !important;
}